i {
  margin-right: 50px;
  &:hover{
    background-color: lightgray;
    border-radius: 50px;
    height: 20px;
  }
}
h3{
  margin-right: 50px;
}
.heart_red{
 color: red;
}
.heart_grey{
  color: lightgray;
}

.segmented i {
  color:lightgray;
  &:hover{
    color: black;
  }
}