@import "../scss/mixin";
@import "../scss/variables";

.container-toolbar{
  width: 50%;
}
.toolbar{
  width: 100%;
  margin-bottom: 30px;
  &-simple{
    height: 65px;
    background-color: #607d8b;
    &-first{
      width: 50%;
    }
    &-second{
      width: 50%;
    }
  }
  &-tall{
    height: 190px;
    background-color: #009688;
  }
  &-tall-elements-aligned-bottom{
    height: 190px;
    background-color: #673ab7;
  }
  &-medium-tall-labels-aligned-bottom{
    height: 130px;
    background-color: #03a9f4;
  }
  &-medium-tall-labels-aligned-middle{
    height: 190px;
    background-color: #e91e63;
  }
}
.bg-white {
  color: white;
}