.gray-text{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #999999;
}
.black-text{
    margin: 0;
    color: #4d4d4e;
    line-height: 27px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
.dividers-items{
    display:flex;
    padding:20px;
}
.Blu-text{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
  color: #5265a2;
  padding:20px;
}
.width-562{
    width: 562px;
}
.hr_gray{
    padding-top: 20px;
    padding-bottom: 20px;
}
.material-icons.color-blue{
    color:#414cb7;
}
.dividers-info{
    flex-direction: column;
}
.dividers-text{
    padding-bottom: 20px;
}
li{
    list-style-type: none;
}