.material-toggle {
	display: block;
    min-height: 40px;
    padding-right:20px;
    margin-right: 20px;
    text-align:right;
}
.material-toggle input[type="checkbox"] {
	display: none;
}
.material-toggle label {
	cursor: pointer;
	height: 0px;
	position: relative; 
    width: 40px; 
}
.material-toggle > label::before {
	background: rgb(0, 0, 0);
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	content: '';
	height: 16px;
	margin-top: -8px;
	position:absolute;
	opacity: 0.3;
	transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-toggle > label::after {
	background: rgb(255, 255, 255);
	border-radius: 16px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	content: '';
	height: 24px;
	left: -4px;
	margin-top: -8px;
	position: absolute;
	top: -4px;
	transition: all 0.3s ease-in-out;
	width: 24px;
}
.material-toggle > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-toggle > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
.label-red { background-color: #009688; }

.label{
    position: relative;
}
.checkbox {
	display: none;
}
.checkbox-custom {
	position: relative;
	width: 20px; 
	height: 20px;
	border: 2px solid #ccc;
	border-radius: 3px;
}
.checkbox-custom,
.label {
	display: inline-block;
	vertical-align: middle;
}
.checkbox:checked + .checkbox-custom::before {
	content: "";
	display: block;
    position: absolute;
    color: #fff;
	background: #009688;
	border-radius: 2px;
}
.checkbox,
.radio {
	display: none;
}
.checkbox-custom,
.radio-custom {
	width: 20px;
	height: 20px;
	color:#009688;
	border: 2px solid #ccc;
	border-radius: 3px;
	position: relative;
}
.checkbox-custom,
.radio-custom,
.label {
	display: inline-block;
	vertical-align: middle;
	transition: all .3s ease;
	margin:10px;
}
.checkbox-custom .radio-custom:hover{
	border:30px;
	background:red;
}
.checkbox:checked + .checkbox-custom::before,
.radio:checked + .radio-custom::before {
	content: "✓";
	display: block;
	position: absolute;
	top: -1px;
	right: -1px;
	bottom: -1px;
	left: -1px;
	background: #009688;
}
.checkbox-custom:hover{
	box-shadow: 0 0 0 5px #bfe6d3;
}
.radio-custom:hover{
	box-shadow: 0 0 0 5px #bfe6d3;
}
label{
    cursor: pointer;
}
.radio-custom,
.radio:checked + .radio-custom::before {
	border-radius: 50%;
}
