.width-320{
    width: 320px;
}
.menu-icons{
    color: #7d7d7d;
    margin-right: 25px;
    font-size: 20px;
}
.menu-items{
    display:flex;
    cursor: pointer;
    padding:20px;
    transition: 0.5s;
}
.flex.space-top:hover{
    background-color:#bbbbbb;
    transition: 0.2s;
}
.menu-error{
    margin-left:auto;
    color: #7d7d7d;
}
.menu-items:hover{
    background-color: #f0f0f0
}