h2.text-center Shadow
.block-container.margin-bottom_100
    .box-shadow-box.box-shadow-box_1
    .box-shadow-box.box-shadow-box_2
    .box-shadow-box.box-shadow-box_3
    .box-shadow-box.box-shadow-box_4
    .box-shadow-box.box-shadow-box_5
