.buttons-wrapper
    h2 Buttons
    h3 Flat buttons
    .block-container
        button.fl-button Button
        button.fl-button.fl-button_colored Colored
        button.fl-button.fl-button_disabled Disabled
    h3 Raised buttons
    .block-container
        button.ra-button Button
        button.ra-button.ra-button_colored Colored
        button.ra-button.ra-button_disabled Disabled
