.buttons-wrapper
    h2.text-center.margin-bottom_50 Buttons
    h3.text-center.margin-bottom_50 Flat buttons
    .block-container.margin-bottom_100
        button.fl-button Button
        button.fl-button.fl-button_colored Colored
        button.fl-button.fl-button_disabled Disabled
    h3.text-center.margin-bottom_50 Raised buttons
    .block-container.margin-bottom_100
        button.ra-button Button
        button.ra-button.ra-button_colored Colored
        button.ra-button.ra-button_disabled Disabled
