.card-examples
    h2 Cards
    .dr-card
        p.dr-card__description Cards are a convenient means of displaying content composed of different types of objects.
        .dr-card__footer
            button.fl-button MORE INFO…

    .dr-card
        span.dr-card__title Card headline title
        p.dr-card__description Lorem ipsum dolor sit amet, doming noster at quo, nostrud lucilius rationibus ea duo. Vim no mucius dolores. No bonorum voluptatum vis, has iudicabit consectetuer ne. Nullam sensibus vim id, et quo graeci perpetua.
        hr.dr-card__divider
        .dr-card__footer
            button.fl-button MORE INFO…

            button.fl-button.fl-button_pulled DECLINE
            button.fl-button.fl-button_pulled.fl-button_colored ACCEPT


    .dr-card
        .dr-card__header
            span.dr-card__title.dr-card__title_light Card with image header
        p.dr-card__description Lorem ipsum dolor sit amet, doming noster at quo, nostrud lucilius rationibus ea duo. Vim no mucius dolores. No bonorum voluptatum vis, has iudicabit consectetuer ne. Nullam sensibus vim id, et quo graeci perpetua.
        hr.dr-card__divider
        .dr-card__footer
            button.fl-button MORE INFO…

            button.fl-button.fl-button_pulled DECLINE
            button.fl-button.fl-button_pulled.fl-button_colored ACCEPT
