h2 Table
table.table.table-hover
    thead
        tr
            th(scope='col') Check
            th(scope='col') First
            th(scope='col') Last
            th(scope='col') Handle
    tbody
        tr
            th(scope='row')
                input(type='checkbox')
            td Mark
            td Otto
            td @mdo
        tr
            th(scope='row')
                input(type='checkbox')
            td Jacob
            td Thornton
            td @fat
        tr
            th(scope='row')
                input(type='checkbox')
            td(colspan='2') Larry the Bird
            td @twitter
            tr
                th(scope='row')
                    input(type='checkbox')
                td Mark
                td Otto
                td @mdo
            tr
                th(scope='row')
                    input(type='checkbox')
                td Jacob
                td Thornton
                td @fat
            tr
                th(scope='row')
                    input(type='checkbox')
                td(colspan='2') Larry the Bird
                td @twitter
            tr
                th(scope='row')
                    input(type='checkbox')
                td Mark
                td Otto
                td @mdo
            tr
                th(scope='row')
                    input(type='checkbox')
                td Jacob
                td Thornton
                td @fat
            tr
                th(scope='row')
                    input(type='checkbox')
                td Larry the Bird
                td Thornton
                td @twitter
            tr
                th(scope='row')
                    input(type='checkbox')
                td Mark
                td Otto
                td @mdo
