include _mixin_button

.dialog.mg-left_30
    .vo_b_title Dialog
    .dialog-content#dialog Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    .dialog-buttons-wrapper
        .buttons-wrapper__first
        +button({ label: 'MORE INFO...', isRipple: true, class: 'vo_simple_button' })
        .buttons-wrapper__second
        +button({ label: 'DECLINE', isRipple: true, class: 'vo_simple_button' })
        +button({ label: 'ACCEPT', isRipple: true, class: 'vo_simple_button vo_simple_button_color_blue vo_ripple_gray' })


