.forms-container
    h2 Inputs
    form.form-top
        input.input.input-top(type='text', placeholder='Input name')
        input.input.input-top(type='text', placeholder='Input name')
    form.form-middle
        input.input.input-middle(type='text', placeholder='Active text input')
    form.form-middle-after
        input.input.input-middle-after(type='text', placeholder='Invalid text input', required)
    form.form-bottom
        input.input.input-bottom(type='text', placeholder='I am disabled', disabled)
    textarea Lorem ipsum dolor sit amet, doming noster at quo, nostrud lucilius rationibus ea duo. Vim no mucius dolores. No bonorum voluptatum vis, has iudicabit consectetuer ne. Nullam sensibus vim id, et quo graeci perpetua.