.Blu-text Inset Dividers

.dividers-items
    .menu-icons
        i.material-icons.color-blue call
    .dividers-info
        .dividers-text
            .black-text (650) 555-1234
            .gray-text Mobile
        .dividers-text
            .black-text (323) 555-6789
            .gray-text Work
.hr_gray.width-562
    hr
.dividers-items
    .menu-icons
        i.material-icons.color-blue  email
    .dividers-info
        .dividers-text
            .black-text aliconnors@example.com
            .gray-text Personal
        .dividers-text
            .black-text ali_connors@example.com
            .gray-text Work
.hr_gray.width-562
    hr
.dividers-items
    .menu-icons
        i.material-icons.color-blue  add_location
    .dividers-info
        .dividers-text
            .black-text 2000 SW 1st Ave San Francisco, CA 94112
            .gray-text Home
        .dividers-text
            .black-text 1600 Amphitheatre Pkwy Mountain View, CA 94043
            .gray-text Work

