.icon-button-wrapper
    h2.margin-bottom_50.text-center Icons Button
    .block-container
        h3.margin-bottom_50 icon button
        i.fas.fa-align-justify
        i.fas.fa-arrow-left
        i.fas.fa-arrow-right
        i.fas.fa-check
        i.fas.fa-times
        i.fas.fa-expand
        i.fas.fa-compress
        i.fas.fa-ellipsis-v
        i.fas.fa-redo
    .block-container
        h3.margin-bottom_50 styled
        i.fas.fa-heart.heart_black
        i.fas.fa-heart.heart_red
        i.fas.fa-heart.heart_grey
    .block-container
        h3.margin-bottom_50 segmented
        i.fas.fa-male
        i.fas.fa-bicycle
        i.fas.fa-bus
        i.fas.fa-car
    h2.margin-bottom_50.text-center Floating Action Buttons
    .block-container.regular
        h3.margin-bottom_50 Regular
        i.fas.fa-arrow-right.big-icon.white-color.red-background
        i.fas.fa-pencil-alt.big-icon.white-color.light-blue-background
        i.fas.fa-plus.icon.big-icon.icon-shadow_1
    .block-container.mini
        h3 Mini
        i.fas.fa-check.small-icon.green-background.white-color
        i.fas.fa-undo.small-icon.purple-background.white-color
        i.fas.fa-times.small-icon.icon-shadow_1