.icon-button-wrapper
    h2 Icons Button
    .block-container
        h3 icon button
        <i class="fas fa-align-justify"></i>
        <i class="fas fa-arrow-left"></i>
        <i class="fas fa-arrow-right"></i>
        <i class="fas fa-check"></i>
        <i class="fas fa-times"></i>
        <i class="fas fa-expand"></i>
        <i class="fas fa-compress"></i>
        <i class="fas fa-ellipsis-v"></i>
        <i class="fas fa-redo"></i>
    .block-container.styled
        h3 styled
        <i class="fas fa-heart"></i>
        <i class="fas fa-heart"></i>
        <i class="fas fa-heart"></i>
    .block-container.segmented
        h3 segmented
        <i class="fas fa-male"></i>
        <i class="fas fa-bicycle"></i>
        <i class="fas fa-bus"></i>
        <i class="fas fa-car"></i>
