.Blu-text Label
.dr-card.width-562
    .black-text Label
    .material-toggle
        input#MaterialToggleRed(name='MaterialToggleRed', type='checkbox')
        label.label-red(for='MaterialToggleRed')
    .label-checkbox
        input#isready(type='checkbox')
        label.label-blu(for='isready')