.Blu-text Label
.dr-card.width-562
  ul
    li
      label Label
          .material-toggle
              input#MaterialToggleRed(name='MaterialToggleRed', type='checkbox')
              label.label-red(for='MaterialToggleRed')
    li
      label.label-checkbox Always
        input.radio(type='radio', name='radio-test')
        span.radio-custom
        span.label
    li
      label.label-checkbox Only when plugged in
        input.radio(type='radio', name='radio-test')
        span.radio-custom
        span.label
    li
      label.label-checkbox Never
        input.radio(type='radio', name='radio-test')
        span.radio-custom
        span.label
    li
      label.label-checkbox Notifications
        input.checkbox(type='checkbox', name='checkbox-test')
        span.checkbox-custom
        span.label
    li
      label.label-checkbox Auto-updates
        input.checkbox(type='checkbox', name='checkbox-test')
        span.checkbox-custom
        span.label
    li
      label.label-checkbox Clear search
        input.checkbox(type='checkbox', name='checkbox-test')
        span.checkbox-custom
        span.label
