.Blu-text Menus & Menu Items
.width-320
    .menu-items
        .menu-icons
            .material-icons access_time
        .black-text Recent Articles
    .menu-items
        .menu-icons
            .material-icons move_to_inbox
        .black-text Archive
    .menu-items
        .menu-icons
            .material-icons check
        .black-text Completed
    .hr_gray.width-320
        hr
    .menu-items
        .menu-icons
            .material-icons send
        .black-text Sent
        .menu-error
            .material-icons error_outline
    .menu-items
        .menu-icons
            .material-icons star
        .black-text Starred
        .menu-error
            .material-icons error_outline
    .menu-items
        .menu-icons
            .material-icons forum
        .black-text Forums
        .menu-error
            .material-icons error_outline
    .menu-items
        .menu-icons
            .material-icons flag
        .black-text Updates
        .menu-error
            .material-icons error_outline

    .Blu-text Menu Dropdown
    .dr-card 
        .menu-items
            .menu-icons
                .material-icons access_time
            .black-text Recent Articles
        .menu-items
            .menu-icons
                .material-icons move_to_inbox
            .black-text Archive
        .menu-items
            .menu-icons
                .material-icons check
            .black-text Completed