nav
    ul.sidebar-nav
        li.sidebar-brand
            a(href='#header') To the top
        li
            a(href='#buttons') Buttons
        li
            a(href='#icon-button') Icon buttons
        li
            a(href='#toolbar') Toolbars
        li
            a(href='#radioButton') Radio buttons
        li
            a(href='#cardHeading') Tables
        li
            a(href='#sliderRange') Slider ranges

