nav
    ul.sidebar-nav
        li
            a(href='#floatButton') Floating action button
        li
            a(href='#buttons') Buttons
        li
            a(href='#icon-button') Icon buttons
        li
            a(href='#toolbar') Toolbars
        li
            a(href='#radioButton') Radio buttons
        li
            a(href='#cardHeading') Tables
        li
            a(href='#sliderRange') Slider ranges
        li
            a(href='#buttonTooltips') Button tooltips
        li
            a(href='#checkbox') Checkboxes
        li
            a(href='#dialog') Dialog
        li
            a(href='#toasts') Toasts
        li
            a(href='#menu') Menu

        li
            a(href='#shadow') Shadow
