nav
    ul.sidebar-nav
        li.sidebar-brand
            a(href='#header') To the top
        li
            a(href='#buttons') Buttons
        li
            a(href='#icon-button') Icon button
        li
            a(href='#toolbar') Toolbar
        li
            a(href='#radioButton') Radio buttons
        li
            a(href='#buttons') Buttons
        li
            a(href='#buttons') Buttons

