.Blu-text Progress
.progress-circle.progress(role='progressbar')
  svg.j378(viewBox='22 22 44 44')
    circle.j379.j381(cx='44', cy='44', r='20.2', fill='none', stroke-width='3.6')
.progress-circle.progress-width-2(role='progressbar')
  svg.j378(viewBox='22 22 44 44')
    circle.j379.j381(cx='44', cy='44', r='20.2', fill='none', stroke-width='3.6')
.progress-circle.progress-width-3(role='progressbar')
  svg.j378(viewBox='22 22 44 44')
    circle.j379.j381(cx='44', cy='44', r='20.2', fill='none', stroke-width='3.6')
.progress-circle.progress-width-4(role='progressbar')
  svg.j378(viewBox='22 22 44 44')
    circle.j379.j381(cx='44', cy='44', r='20.2', fill='none', stroke-width='3.6')
.progress-circle.progress-width-5(role='progressbar')
  svg.j378(viewBox='22 22 44 44')
    circle.j379.j381(cx='44', cy='44', r='20.2', fill='none', stroke-width='3.6')
.progress-line-green(role='progressbar')
  .progress-line-speed1
.progress-line-green(role='progressbar')
  .progress-line-speed2
.progress-line-green(role='progressbar')
  .progress-line-speed3
.progress-line-red(role='progressbar')
  .progress-line-speed4
.progress-line-red(role='progressbar')
  .progress-line-speed5