include _mixin_button
.vo_position_footer
        h1.vo_b_title FAB Speed Dial
            .class_button
                .vo_footer_right
                    +button({
                        label: 'close', isRipple: true,
                        class: 'material-icons  vo_mini_button vo_mini_button_color_gray vo_ripple_gray vo_footer_right_button'
                    })
                    +button({
                        label: 'favorite',isRipple: true,
                        class: 'material-icons  vo_mini_button vo_mini_button_color_gray vo_ripple_gray vo_footer_right_button'
                    })
                    +button({
                        label: 'create',isRipple: true,
                        class: 'material-icons  vo_mini_button vo_mini_button_color_gray vo_ripple_gray vo_footer_right_button'
                    })
                    +button({
                        label: 'dehaze',isRipple: true,
                        class: 'material-icons vo_floating_button vo_ripple_orange vo_mini_button_color_white'
                    })


