.vo_b_title Toasts
    .toast#toasts
        .toast-header Your draft have been discardet
        .toast-link Conection time out.Showing limited messages.
            a(href='javascript:void(0)') Retry
        .toast-message Message sent