.container-toolbar.mg-left_30
    h1.vo_b_title Toolbar
    .toolbar.toolbar-simple
        .toolbar-simple-first
            i.material-icons.bg-white.mg-left_30 reorder
            p.bg-white.mg-left_30 Toolbar
        .toolbar-simple-second
            i.material-icons.bg-white.mg-right_30 refresh
            i.material-icons.bg-white.mg-right_30  more_vert
    .toolbar.toolbar-tall
        .toolbar-tall-first.mg-top_30
            i.material-icons.bg-white.mg-left_30 reorder
            p.bg-white.mg-left_30 Toolbar
        .toolbar-tall-second.mg-top_30
            i.material-icons.bg-white.mg-right_30 refresh
            i.material-icons.bg-white.mg-right_30  more_vert
    .toolbar.toolbar-tall-elements-aligned-bottom
        .toolbar-tall-elements-aligned-bottom-first
            i.material-icons.bg-white.mg-left_30 reorder
            p.bg-white.mg-left_30 Toolbar
        .toolbar-tall-elements-aligned-bottom-second
            i.material-icons.bg-white.mg-right_30 refresh
            i.material-icons.bg-white.mg-right_30  more_vert
    .toolbar.toolbar-medium-tall-labels-aligned-bottom
    .toolbar.toolbar-medium-tall-labels-aligned-middle

