.container-toolbar
    h1.vo_b_title Toolbar
    .toolbar.toolbar-simple
        .toolbar-simple-first
            i.material-icons.bg-white reorder
            p Toolbar
        .toolbar-simple-second
            i.material-icons.bg-white search
            i.material-icons.bg-white  more_vert
    .toolbar.toolbar-tall
    .toolbar.toolbar-tall-elements-aligned-bottom
    .toolbar.toolbar-medium-tall-labels-aligned-bottom
    .toolbar.toolbar-medium-tall-labels-aligned-middle

