.tooltip-container
    h2 Tooltips
    .tooltip.tool-first
        i.fas.fa-arrow-right.big-icon.white-color.red-background
        span.tooltiptext.tooltiptext-left Tooltip text
    .tooltip.tool-second
        i.fas.fa-pencil-alt.big-icon.white-color.light-blue-background
        span.tooltiptext.tooltiptext-bottom Tooltip text
    .tooltip.tool-third
        i.fas.fa-plus.icon.big-icon.icon-shadow_1
        span.tooltiptext.tooltiptext-top Tooltip text
    .tooltip.tool-fourth
        i.fas.fa-check.big-icon.green-background.white-color
        span.tooltiptext.tooltiptext-right Tooltip text
