h2 Toolbar
    .navbar
        a(href='#home') Home
        a(href='#news') News
        .dropdown
            button.dropbtn
                | Dropdown
                i.fa.fa-caret-down
            .dropdown-content
                a(href='javascript:void(0)') Link 1
                a(href='javascript:void(0)') Link 2
                a(href='javascript:void(0)') Link 3
