.tooltip-container
    .tooltip.tool-first
        i.fas.fa-arrow-right.big-icon.white-color.red-background
        span.tooltiptext.tooltiptext-left Tooltip text
    .tooltip.tool-second
        i.fas.fa-arrow-right.big-icon.white-color.red-background
        span.tooltiptext.tooltiptext-bottom Tooltip text
    .tooltip.tool-third
        i.fas.fa-arrow-right.big-icon.white-color.red-background
        span.tooltiptext.tooltiptext-top Tooltip text
    .tooltip.tool-fourth
        i.fas.fa-arrow-right.big-icon.white-color.red-background
        span.tooltiptext.tooltiptext-right Tooltip text
