h2 Toolbar
    ul.ul-top
        li
            a.active(href='#home') Main
        li
            a(href='#news') News
        li
            a(href='#contact') Contacts
        li
            a(href='#about') About us
    ul
        li
            a(href='#home') Main
        li
            a(href='#news') News
        li
            a(href='#contact') Contacts
        li(style='float:right')
            a.active.pulled-right(href='#about') About us
