doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title UI_library
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500')
        link(rel='stylesheet', href='css/all.css')
        link(rel='stylesheet', href='css/common.css')
    body
        .container
            include examples/box-shadows
            include examples/buttons
            include examples/icon-button
            include examples/cards
            include examples/dialog